/* Write your code here. */

body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}

.super-over-league-container {
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding-top: 20px;
}
.heading {
  color: #f8fafc;
  font-family: "Roboto";
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 55px;
  }
}
.image-logo {
  height: 150px;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .image-logo {
    height: 300px;
    width: 300px;
  }
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
